<footer style="background-color: rgba(0,0,0,0.8);">
	<h4>Powered by NASA</h4>
</footer>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/blog.js"></script>     
</body>
</html>